*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding-right: 15px;   
    z-index: 9999;
    

}
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;

}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #1b1c1e;
}

p{
    color: #1f1f1f;
}

.container{
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.mainwrapper{
    position: relative;
}

.homeimg{
    position: absolute;
    top: 0;
    z-index: -1 ;

}

.homeword{
    font-size: 30px;
    line-height: 70px;
    margin: 25px 0;
    padding-left: 25px;
}

.col-md-7{
    padding-right: 51%;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: fff;
    padding: 18px 30px;
    margin: 40px 0;
    border-radius: 40px;
    padding-left: 30px;
    margin-left: 30px;
    font-size: 20px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}

.homeword1{
    margin: 5px 0;
    padding-left: 45px;
    font-size: 20px;

}



.col-md-3{
    float: left;
    width: 100px;
    height: 100px;
    
}
